version: '3.8'

services:
  whisper:
    build: ./api
    container_name: whisper-api
    ports:
      - '8086:8081'
    networks:
      - ml-net
  
  web:
    build: ./web
    container_name: whisper-web
    ports:
      - '8082:80'
    networks:
      - ml-net

networks:
  ml-net: