@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LongCang;
  src: url('./LongCang-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: LongCang, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  padding: 0 2rem;
}

.main {
  max-height: 800px;
  padding: 4rem 0;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "left-upload right-results" "top-option right-results";
  row-gap: 20px;
  column-gap: 20px;
  text-align: center;
}

.title {
  height: 60px;
  line-height: 60px;
}

.absoluteCenter {
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  left: 50%;
}

.options {
  grid-area: top-option;
}

.uploadContainer {
  position: relative;
  grid-area: left-upload;
}

.results {
  grid-area: right-results;
  position: relative;
}
