.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "left-upload" "right-results";
  row-gap: 20px;
  column-gap: 20px;
  text-align: center;
}

.title {
  height: 60px;
  line-height: 60px;
}

.absoluteCenter {
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  left: 50%;
}

.options {
  grid-area: top-option;
}

.uploadContainer {
  position: relative;
  grid-area: left-upload;
}

.results {
  grid-area: right-results;
  position: relative;
}
